{% extends 'base.html.twig' %}

{% block title %}Mes événements{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/flashes-messages.js') }}"></script>
{% endblock %}


    {% block main %}

    <div class="container">

        <div class="row mt-3 ml-1">
            {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-message alert alert-dismissible alert-{{ type }}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
                </div>
            {% endfor %}
            {% endfor %}
        </div>
        
        <div class="user-profile d-flex">
            <h2 class="font-weight-bold mt-2">{{app.user.firstname|capitalize}} {{user.lastname|u.truncate(2, '.')|capitalize}}</h2> 
            <a href="{{ path('profile_edit', {id:app.user.id}) }}" class="align-self-center mb-0 ml-3">Editer mon profil</a>
        </div>

        <h2 class="text-primary font-weight-normal mt-4">Mes événements</h2>  
        <p class="mb-5">
            <a href="#my-events">Mes événement crées</a> - <a href="#registred-events">Les événements auxquels je suis inscrit</a> - <a href="#archived-events">Mes événement archivés</a>
        </p>

        <h3 class="h5 font-weight-bold mt-4 mb-3" id="my-events">Mes événement crées</h3>

        <div class="d-flex justify-content-center justify-content-sm-around  flex-wrap mb-3">

            {% set countOwn = 0 %}

            {% for ownEvent in user.ownEvents|sort((a, b) => b.createdAt <=> a.createdAt)  %}
       
                

                {% if ownEvent.status == 0 and ownEvent.isVerified !=1 %}

                
                    {% set countOwn = countOwn + 1 %}

            
                    <div class="card card-detail border-primary mt-3 mb-3 mr-0 d-flex flex-column justify-content-between card-template">
                        <div class="card-header card-header-detail d-flex align-items-center">
                            <h5 class="m-0 p-0 text-break">
                                {# 35 characters max #}
                                {{ownEvent.title}}
                            </h5>
                        </div>
                        <div class="content-detail">
                            <div class="div-image" style="background-image:url({{ asset ('img/categories/' ~ ownEvent.category.name ~ '/' ~ ownEvent.image) }})">
                            </div>
                            <div class="d-flex flex-column justify-content-between">
                                <div class="card-body h-80 p-3">
                                    <a href="">
                                        <span class="badge 
                                            {{ ownEvent.category.name == 'Plantation' ?  'bg-primary' }}
                                            {{ ownEvent.category.name == 'Autre' ?  'bg-danger' }}
                                            {{ ownEvent.category.name == 'Sortie' ?  'bg-warning' }}
                                            {{ ownEvent.category.name == 'Jardinage' ?  'bg-success' }}
                                            {{ ownEvent.category.name == 'Nettoyage' ?  'bg-info' }}
                                            {{ ownEvent.category.name == 'Solidarité' ?  'bg-secondary'}}
                                        ">
                                            {{ ownEvent.category.name }}
                                        </span>
                                    </a>
                                    <p class="card-text text-truncate h-20">{{ (ownEvent.description|striptags)|raw  }}</p>
                                    <p class="mb-0"><span class="font-weight-bold">De: </span>{{ownEvent.createdBy.firstname|capitalize}} {{ownEvent.createdBy.lastname|u.truncate(2, '.')|capitalize}}</p>
                                    <p class="mb-0"><span class="font-weight-bold">Lieu: </span>{{ ownEvent.city }}</p>
                                    <p class="mb-0"><span class="font-weight-bold">Du: </span>{{ ownEvent.startAt is not null ? ownEvent.startAt|date('d/m/y') : '' }}<span class="font-weight-bold"> au </span>{{ ownEvent.endAt is not null ? ownEvent.endAt|date('d/m/y') : '' }} </p>
                                </div>
                            </div>
                        </div>
                        <div class="footer-profile card-footer text-muted d-flex  flex-column justify-content-center mb-0">
                            {% if ownEvent.isVerified == 2 %}
                                <a href="{{ path('event_read', {id:ownEvent.id}) }}" class="btn btn-primary btn-sm">Voir l'évènement</a>
                                <a href="{{ path('event_edit', {id:ownEvent.id}) }}" class="mt-2 btn btn-info btn-sm">Editer l'évènement</a>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-danger btn-sm mt-2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Annuler l'événement</button>
                                    <div class="dropdown-menu">
                                            <a class="dropdown-item" href="{{ path('event_status', {id: ownEvent.id, status:1}) }}">Oui, je veux annuler</a>
                                            <a class="dropdown-item" href="#" data-toggle="dropdown">Oups !</a>
                                    </div>
                                </div> 
                                <div class="btn-group">
                                    <button type="button" class="btn btn-warning btn-sm mt-2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Terminer l'évènement</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{{ path('event_status', {id: ownEvent.id, status:2}) }}">Oui, je veux terminer</a>
                                        <a class="dropdown-item" href="#" data-toggle="dropdown">Oups !</a>
                                    </div>
                                </div>
                            {% endif %}
                            {% if ownEvent.isVerified != 2 %}
                                <a href="{{ path('event_read', {id:ownEvent.id}) }}" class="btn btn-primary btn-sm align-self-center">L'événement est en cours de validation</a>
                                <a href="{{ path('event_edit', {id:ownEvent.id}) }}" class="mt-2 btn btn-info btn-sm">Editer l'évènement</a>
                                  <div class="btn-group">
                                    <button type="button" class="btn btn-danger btn-sm mt-2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Annuler l'événement</button>
                                    <div class="dropdown-menu">
                                            <a class="dropdown-item" href="{{ path('event_status', {id: ownEvent.id, status:1}) }}">Oui, je veux annuler</a>
                                            <a class="dropdown-item" href="#" data-toggle="dropdown">Oups !</a>
                                    </div>
                                </div> 
                            {% endif %}
                        </div>
                    </div>

                {% endif %}

                

            {% endfor %}

            {% if countOwn == 0 %}
                <p>Vous n'avez pas créé d'événements, <a href="{{ path('event_add') }}">créez-en un !</a></p>
            {% endif %}

        </div>

        <h3 class="h5 font-weight-bold mt-4 mb-3" id="registred-events">Evénements auxquels je suis inscrit</h3>

        <div class="d-flex justify-content-center justify-content-sm-around  flex-wrap mb-3">

            {% set countSub = 0 %}

            {% for event in user.events|sort((a, b) => b.createdAt <=> a.createdAt) %}
                {% if event.status == 0 and event.isVerified == 2 %}

                    {% set countSub = countSub + 1 %}
                    <div class="card card-detail border-primary mt-3 mb-3 mr-0 d-flex flex-column justify-content-between card-template">
                    <div class="card-header card-header-detail d-flex align-items-center">
                        <h5 class="m-0 p-0 text-break">
                            {# 35 characters max #}
                            {{event.title}}
                        </h5>
                    </div>
                    <div class="content-detail">
                        <div class="div-image" style="background-image:url({{ asset ('img/categories/' ~ event.category.name ~ '/' ~ event.image) }})">
                        </div>
                        <div class="d-flex flex-column justify-content-between">
                            <div class="card-body h-80 p-3">
                                <a href="">
                                    <span class="badge 
                                        {{ event.category.name == 'Plantation' ?  'bg-primary' }}
                                        {{ event.category.name == 'Autre' ?  'bg-danger' }}
                                        {{ event.category.name == 'Sortie' ?  'bg-warning' }}
                                        {{ event.category.name == 'Jardinage' ?  'bg-success' }}
                                        {{ event.category.name == 'Nettoyage' ?  'bg-info' }}
                                        {{ event.category.name == 'Solidarité' ?  'bg-secondary'}}
                                    ">
                                        {{ event.category.name }}
                                    </span>
                                </a>
                                <p class="card-text text-truncate h-20">{{ (event.description|striptags)|raw  }}</p>
                                <p class="mb-0"><span class="font-weight-bold">De: </span>{{event.createdBy.firstname|capitalize}} {{event.createdBy.lastname|u.truncate(2, '.')|capitalize}}</p>
                                <p class="mb-0"><span class="font-weight-bold">Lieu: </span>{{ event.city }}</p>
                                <p class="mb-0"><span class="font-weight-bold">Du: </span>{{ event.startAt is not null ? event.startAt|date('d/m/y') : '' }}<span class="font-weight-bold"> au </span>{{ event.endAt is not null ? event.endAt|date('d/m/y') : '' }} </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-muted d-flex  flex-column justify-content-end mb-0">
                        <a href="{{ path('event_read', {id:event.id}) }}" class="btn btn-primary btn-sm">Voir l'évènement</a> 
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger btn-sm mt-2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Me désinscrire de l'événement</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('event_delete_user', {id: event.id, route:'profile'}) }}">Oui, je veux me désinscrire</a>
                                <a class="dropdown-item" href="#" data-toggle="dropdown">Oups !</a>
                            </div>
                        </div> 
                    </div>
                </div>
                {% endif %}
            {% endfor %}

            {% if countSub == 0 %}
                <p>Vous n'êtes pas inscrit à des événements, <a href="{{ path('event_browse') }}">recherchez-en un !</a></p>
            {% endif %}

        </div>


        <h3 class="h5 font-weight-bold mt-4 mb-3" id="archived-events">Mes événements archivés</h3>

        <div class="d-flex justify-content-center justify-content-sm-around  flex-wrap mb-3">

            {% set countArch = 0 %}

            {% for ownEvent in user.ownEvents|sort((a, b) => b.createdAt <=> a.createdAt) %}
                {% if ownEvent.status == 1 or ownEvent.status == 2 or ownEvent.isVerified ==1 %}

                    {% set countArch = countArch + 1 %}
                    <div class="card card-detail bg-light mt-3 mb-3 mr-0 ml-0 d-flex flex-column justify-content-between">
                        <div class="card-header card-header-archive d-flex align-items-center">
                            <h5 class="m-0 p-0 text-break">
                                {# 35 characters max #}
                                {{ownEvent.title}}
                            </h5>
                        </div>
                        <div class="content-detail">
                            <div class="div-image" style="background-image:url({{ asset ('img/categories/' ~ ownEvent.category.name ~ '/' ~ ownEvent.image) }})">
                            </div>
                            <div class="d-flex flex-column justify-content-between">
                                <div class="card-body h-80" >
                                    <a href="">
                                        <span class="badge 
                                            {{ ownEvent.category.name == 'Plantation' ?  'bg-primary' }}
                                            {{ ownEvent.category.name == 'Autre' ?  'bg-danger' }}
                                            {{ ownEvent.category.name == 'Sortie' ?  'bg-warning' }}
                                            {{ ownEvent.category.name == 'Jardinage' ?  'bg-success' }}
                                            {{ ownEvent.category.name == 'Nettoyage' ?  'bg-info' }}
                                            {{ ownEvent.category.name == 'Solidarité' ?  'bg-secondary'}}
                                        ">
                                            {{ ownEvent.category.name }}
                                        </span>
                                    </a>
                                    <p class="card-text text-truncate h-20">{{ (ownEvent.description|striptags)|raw }}</p>
                                    <p class="mb-0"><span class="font-weight-bold">De: </span>{{ownEvent.createdBy.firstname|capitalize}} {{ownEvent.createdBy.lastname|u.truncate(2, '.')|capitalize}}</p>
                                    <p class="mb-0"><span class="font-weight-bold">Lieu: </span>{{ ownEvent.city }}</p>
                                    <p class="mb-0"><span class="font-weight-bold">Du: </span>{{ ownEvent.startAt is not null ? ownEvent.startAt|date('d/m/y') : '' }}<span class="font-weight-bold"> au </span>{{ ownEvent.endAt is not null ? ownEvent.endAt|date('d/m/y') : '' }} </p>

                                    {% if ownEvent.status == 1 and ownEvent.isVerified != 1 %}
                                        <p class="text-danger mt-2">Evénement annulé</p>
                                    {% endif %}  

                                    {% if ownEvent.status == 2 and ownEvent.isVerified != 1 %}
                                        <p class="text-success mt-2">Evénement terminé</p> 
                                    {% endif %} 

                                    {% if ownEvent.isVerified == 1 %}
                                        <p class="text-secondary mt-2">Evénement bloqué</p> 
                                    {% endif %}  
                                </div>     
                            </div>                  
                        </div>
                    </div>

                    {% endif %}
                {% endfor %}

                {% if countArch == 0 %}
                    <p>Vous n'avez pas d'événements archivés</a></p>
                {% endif %}

        </div>


    </div>


    {% endblock %}